/* * ARQUIVO: css/root.css */

:root {
    /* Paleta */
    --cor-primaria: #005A9C;
    --cor-secundaria: #00BFFF;
    --cor-sucesso: #2E8B57;
    --cor-erro: #DC143C;
    --cor-neutra-900: #222222;
    --cor-neutra-700: #555555;
    --cor-neutra-200: #F4F4F4;
    --cor-neutra-100: #FFFFFF;
    
    /* Tipografia */
    --fonte-principal: 'Helvetica', Arial, sans-serif;
    --texto-g:   2.5rem;
    --texto-m:   1.75rem;
    --texto-p:   1.125rem;
    --texto-pp:  1rem;
    --texto-ppp: 0.875rem;

    /* Espaçamento */
    --espaco-1: 8px;
    --espaco-2: 16px;
    --espaco-3: 24px;
    --espaco-4: 32px;
    --espaco-5: 48px;
    --espaco-6: 64px;

    /* Outros */
    --borda-raio: 4px;
    --sombra-padrao: 0 4px 12px rgba(0,0,0,0.05);
}


:root[data-theme="dark"] {
    /* Paleta Escura (Alto Contraste) */
    --cor-primaria: #00BFFF;     /* Azul Claro (Destaque) */
    --cor-secundaria: #FFFFFF;   /* Branco */
    
    --cor-neutra-900: #F4F4F4;    /* Texto principal (claro) */
    --cor-neutra-700: #CCCCCC;    /* Texto secundário (claro) */
    --cor-neutra-200: #222222;    /* Fundo suave (escuro) */
    --cor-neutra-100: #121212;    /* Fundo principal (escuro) */
    
    --sombra-padrao: 0 4px 12px rgba(255,255,255,0.05);
}

/* Transição suave de cores */
body, .main-header, .card, form {
    transition: background-color 0.3s ease, color 0.3s ease;
}